.containerWellcome {
    width: 100%;
    height: 100vh;
    background-color: #0000008e;
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxWellcome {
    width: 500px;
    height: 300px;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    padding: 1rem;
}

.boxbtnClose {
    width: 100%;

}

.boxbtnClose button {
    float: right;
    margin-right: 20px;
    background-color: transparent;
    color: #fff;
}

@media(max-width:500px) {
    .boxWellcome {
        width: 90%;
        height: auto;
        padding-bottom: 20px;
        gap: 20px;
    }
}