.header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
    margin-bottom: 20px;
}

.logo {
    text-align: center;
    cursor: pointer;
}

.logo h2 {
    color: #fff;
    font-weight: 600;
    padding: 4px;
    border-radius: 10px;
    background-color: rgb(226, 51, 51);
}

.logo h2 strong {
    color: rgb(226, 51, 51);
    font-weight: 600;
    padding: 2px;
    border-radius: 10px;
    background-color: #1d1d1d;
}

.logo p {
    color: #fff;
    font-size: 11px;
    margin-top: 3px;
}

.btn-area-header {
    display: flex;
    align-items: center;
    gap: 30px;
}

.btn-area-header button {
    background-color: transparent;
    font-size: 18px;
    border: 0;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-area-header button:hover {
    color: red;
}

.login-area-user {
    display: flex;
    align-items: center;
    gap: 20px;
}

.login-area-user button {
    background-color: transparent;
    font-size: 15px;
    border: 0;
    color: white;
    cursor: pointer;
}

.userinfo {
    color: #fff;
    font-size: 17px;
    display: flex;
    gap: 10px;
}

.userinfo label {
    display: flex;
    gap: 5px;
    align-items: center;
}

#sair {
    background-color: transparent;
    color: red;
    margin-left: 10px;
}

#btnmobilemenu {
    display: none;
}

.navBarMobile {
    display: none;
}

@media (max-width: 500px) {
    .login-area-user {
        display: none;
    }

    .btn-area-header button {
        font-size: 15px;
    }

    .btn-area-header {
        display: none;
    }

    .userinfo {
        display: none;
    }

    #btnmobilemenu {
        display: block;
        position: absolute;
        right: 20px;
        background-color: transparent;
        cursor: pointer;
    }

    .navBarMobileshow {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
        padding: 20px;
        position: fixed;
        width: 100%;
        height: 50vh;
        left: 0;
        bottom: 0;
        background-color: #2d2d2d;
        animation: show 1s ease;
        overflow: hidden;
    }

    @keyframes show {
        0% {
            height: 0vh;
        }

        100% {
            height: 50vh;
        }
    }

    .navBarMobile label {
        font-size: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: silver;
        width: 100%;
    }

    .navBarMobile .btnloginandcadastro {
        color: #fff;
        font-size: 20px;
        margin-top: 1rem;
        background: none;
    }

    .navBarMobile .btnmobile {
        background-color: red;
        color: #fff;
        font-size: 20px;
        margin-top: 1rem;
        width: 50%;
        height: 35px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}

@media (max-width: 400px) {
    .btn-area-header {
        gap: 9px;
    }

    .logo {
        margin-right: 10px;
        font-size: 10px;
    }
}