.containerPageFilmes {
    width: 100%;
    min-height: 100vh;
    background-color: #2d2d2d;
}

.containerListFilms {
    margin-top: 4rem;
}

.boxListfilmesFilmes {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding-bottom: 1rem;
}

.boxBtnNextPage {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

#btnNextPage {
    padding: 10px;
    background-color: red;
    color: #fff;
}

.titleGenere {
    margin: 0 0 1rem 1rem;
    color: #fff;
    font-size: 30px;
    text-align: center;
}

.boxCategorias {
    width: 100%;
    padding-left: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.inputSearch {
    padding: 0 10px 0 10px;
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
    height: 35px;
    align-items: center;
    padding-left: 10px;
}

.boxCategorias input {
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border-radius: 10px;
    border: 0;
    background-color: transparent;
}
.boxCategorias input::placeholder{
    color: #fff;
}
.boxCategorias button {
    background-color: transparent;
}


.boxCategorias select {
    border: 1px solid grey;
    background-color: transparent;
    color: #fff;
    outline: none;
    border-radius: 10px;
}

.boxCategorias select option {
    background-color: #2d2d2d;
}

@media(max-width:500px) {
    .titleGenere {

        font-size: 17px;
    }

    .item-filme {
        max-width: 170px;
    }

    .boxCategorias {
        padding-left: 0;
    }

}