.footer{
    width: 100%;
    min-height: 200px;
    background-color: #2d2d2d;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 20px;
}

.boxButtons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.boxButtons h3{
    color: red;
    font-size: 25px;
    font-weight: 600;
}
.boxButtons a,.boxButtons p{
    color: silver;
    text-decoration: none;
    font-weight: 200;
    transition: 0.3s ease;
}
.boxButtons a:hover{
    color: #fff;
}

@media(max-width:500px){
    .footer{
        flex-direction: column;
        height: auto;
        padding: 20px;
        gap: 20px;
        align-items: center;
    }
    .boxButtons{
        text-align: center;

    }
}